ion-content{
    
    --background:linear-gradient(to bottom, white 50%, rgba(115, 234, 255, 0.596) 90%);
}


ion-title{

    color: rgb(96, 172, 243);
    text-align: center;
    font-family: verdana;
    font-weight: bold;
    font-size: 150%;
    text-shadow: 1px 1px 1px silver;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  
}